<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KioskSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
     <endpoint address="http://localhost/TopasTestService/TestKiosk.asmx"
      binding="basicHttpBinding" bindingConfiguration="KioskSoap"
                contract="ServiceReference1.KioskSoap" name="KioskSoap" />
    </client>

  </system.serviceModel>

</configuration>
