<link href="~/Content/UserContent/mainStyles.css" rel="stylesheet" />
@{
    ViewBag.Title = "Cookie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p {
        color: #7c7c7b
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.cookie-footer').css({"display":'none'})
    })
</script>

<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background:#F7F8FA">
    <div style="margin:auto;width:50%;">
        <h2 class="cookiePageBold">Cookie Policy</h2>
    </div>
    <div class="cookiePageMain">
        <div class="w3-row-padding">
            <div class="w3-container">
                <h3 class="cookiepageh3"> What are cookies?</h3>
                <p>  Cookies are small text files that websites store on your computer to help distinguish you from other users. We use cookies to help us provide you with a better experience when you browse our website and help us to improve our site through monitoring visitor interest and behaviour anonymously.</p>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-container">
                <h3 class="cookiepageh3">There are a few different types of cookies:</h3>
                <p><b class="cookiePageBold">Persistent cookies </b>are used to retain user preferences, relating to a particular website you visit. This can be things like whether you want to be logged in automatically when you visit the website, or whether you've already been asked to take part in a survey for example. Persistent cookies exist on your machine for a pre-set length of time.</p>
                <p><b class="cookiePageBold">Session cookies </b>are used to retain information during a particular time you've used a website; this can be things like storing the contents of your shopping basket on an e-commerce site. They are deleted as soon as you close your browser.</p>
                <p><b class="cookiePageBold">Third-party cookies </b>are used by advertisers and social networks to learn about your browsing habits to help deliver relevant advertising and content to you. This, for example means you could be more likely to see adverts for shops you already shop at.</p>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-container">
                <h3 class="cookiepageh3">What cookies do we use on our site?</h3>
                <p>
                    On our Website we use Persistent and Session cookies. 
                </p>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-container">
                <h3 class="cookiepageh3">Marketing:</h3>
                <p><b class="cookiePageBold">_gid: </b>Google Analytics Cookie used to distintiguish  users and sessions (no personally identifiable data is collected).</p>
                <p><b class="cookiePageBold">_ga: </b>Used to identify domain and Google Analytics 'UA' number</p>
                <p><b class="cookiePageBold">_gat_UA-101937322-1:</b> Global Google Analytics Object which is used to create and retrieve tracker objects, from which all other methods are invoked.</p>
            </div>
        </div>
    </div>
</body>
</html>