<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
      <basicHttpBinding>
        <binding name="KioskSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288" />
      </basicHttpBinding>
			<customBinding>
				<binding name="KioskSoap1">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost/TopasTestService/kiosk.asmx" 
                binding="basicHttpBinding" bindingConfiguration="KioskSoap"
                contract="TopasServiceReference.KioskSoap" name="KioskSoap" />
		</client>
	</system.serviceModel>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
<appSettings>
  <add key="DBConnection" value="{sdsConfig:PatientFlowKioskConnectionString}" />
  <add key="Schedules" value="{sdsConfig:Schedules}"/>
  <add key="ProductKey" value="{sdsConfig:ProductKey}"/>
  <add key="ServerURI" value="{sdsConfig:ServerURI}" />
  <add key="SystemType" value="{sdsConfig:SystemType}" />
  <add key="ClientSettingsProvider.ServiceUri" value="{sdsConfig:ClientSettingsProvider.ServiceUri}" />
  <add key="LoggingEnabled" value="1" /><!-- 0 - Means DB Logging Off , 1 - Means DB Logging On -->
</appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>