@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="rightBlock">
        <div style="margin-top: 25%;">
           <div class="rightBlockContent">
               <span class="rightBlockHeading" style="font-size: x-large">
                    Sorry, An error occurred while processing your request.
                </span>
            </div>

        </div>
    </div>
</body>
</html>