@model EMIS.PatientFlow.Web.ViewModel.OrganisationListViewModel
@using EMIS.PatientFlow.Common.Enums;

@Html.Partial("_GoogleAnalytics")

<div class="rightBlockheader">
    <div class="rightBlockHeadingContainer">
        <span class="rightBlockHeading">
            Organisation List
        </span>
    </div>
    <div class="rightBlockTopButtonContainer">
        @if (User.IsInRole("EMIS Super User"))
        {
            <a href="#" style="text-decoration:none" onclick="return LoadAddContent('AddOrganisation')">
                <input type="text" class="AddOrEditText AddTextColor" value="Add Organisation" readonly="readonly"/>
                <img src="~/Images/plus.png" />
            </a>
        }
    </div>
</div>
<div id="grdOrganisation" class="rightBlockContent">
    <div>
        <input type="text" placeholder="Organisation Name..." class="rightTxtBox" data-bind="value: organisationName, valueUpdate: 'input', executeOnEnter:initialize" />
        <button name="btnSearch" type="submit" class="icon searchBox" data-bind="click:initialize"><i class="fa fa-search"></i> Search</button>
    </div>
    <table class="TFtable">
        <thead>
            <tr>
                <th>Organisation</th>
                <th>System Type</th>
                <th>SiteNumber</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td><a href="#" data-bind="text: OrganisationName, click: $parent.update"> </a></td>
                <td data-bind="text:SystemType"></td>
                <td data-bind="text: SiteNumber"></td>

                <td>
                    @if (User.IsInRole("EMIS Super User"))
                    {
                        <span data-bind="if:LinkCount>0">
                            <a class="disableddeleteLinkBtn" title="Linked"> </a>
                        </span>
                        <span data-bind="if:LinkCount==0">
                            <a href="#" class="deleteLinkBtn" title="Delete Organisation" data-bind="click:$parent.deleteOrg"> </a>
                        </span>
                    }
                </td>

            </tr>
        </tbody>
        <tbody data-bind="ifnot: items().length">
            <tr>
                <td colspan="3" style="text-align:center">No records found.</td>
            </tr>
        </tbody>
        <tfoot data-bind="if: items().length">
            <tr style="background-color:white;">
                <td colspan="5"><div id="paginationHolder"></div></td>
            </tr>
        </tfoot>
    </table>
</div>
@{
    int pageSize = EMIS.PatientFlow.Web.Helper.Config.PageSize;

}
<script type="text/javascript">

    var pagedViewModel = function (pageSize) {
        var self = this;
        self.items = ko.observableArray();
        self.organisationName = ko.observable('');
        self.currentPage = ko.observable(1);
        self.totalCount = ko.observable(1);
        self.pageSize = pageSize;
        self.pageCount = ko.computed(function () {
            if ((self.totalCount() % self.pageSize) == 0)
                return parseInt((self.totalCount() / self.pageSize));
            else
                return parseInt((self.totalCount() / self.pageSize)) + 1;
        });
        self.update = function(item) {

            return LoadContent(@Convert.ToInt32(NodeType.OrganisationDetails), item.Id);
        };
        self.deleteOrg = function(item) {

            var retVal = confirm("Are you sure you want to Delete ? All the linked Patient Messages, Alerts and Users will be deleted.");
            if (retVal == true) {
                $.ajax({
                    url: '@Url.Action("LoadDeletePageContent", "Home")',
                    data: {
                        Node: 'DeleteOrganisation',
                        NodeId: item.Id,
                        ParentNodeId: 0
                    },
                    type: "GET",
                    success: function(d) {
                        $("#ContentContainer").html(d);
                        LoadOrgSubmenu(1, 0);
                        $('#OrganisationId').select2("val", "");
                        return false;
                    },
                    error: function() {
                        return false;
                    }
                });
            }
        };

        self.initialize = function () {
            self.currentPage(1);
            self.totalCount(0);
            self.items.removeAll();
            self.getData(self.currentPage());
        }

        self.getData = function (pageNumber) {
            $.ajax({
                url: '@Url.Action("GetOrganisations","Organisation")',
                data: { pageNumber: pageNumber, pageSize: self.pageSize, organisationName: self.organisationName()},
                type: "GET",
                cache: false,
                success: function (data) {
                    self.items.removeAll();
                    self.currentPage(pageNumber);
                    self.totalCount(data.TotalCount);
                    if (data.OrganisationList.length > 0) {
                        for (i = 0; i < data.OrganisationList.length; i++) {
                            self.items.push(data.OrganisationList[i]);
                        }
                    }
                    self.createPagination();
                },
                error: function (data) {

                }
            });
        }

        self.createPagination = function () {

            $("#paginationHolder").pagination({
                pages: self.pageCount(),
                itemsOnPage: self.pageSize,
                currentPage: self.currentPage(),
                cssStyle: 'light-theme',
                onPageClick: self.loadPage
            });

        };

        self.loadPage = function (pageNo, event) {
            self.getData(pageNo);
        };

        self.initialize();
    };

    function organisationList () {
        var vm = new pagedViewModel(@pageSize);
        var element = document.getElementById('grdOrganisation');
        ko.cleanNode(element);
        ko.applyBindings(vm, element);
    }
    organisationList();
</script>

